.post-footer .post-tags a {
	 word-break: normal !important;
}
.post-content a {
	 word-break: normal !important;
}

/* Custom syntax */
.post .post-content .highlight > .chroma .nf,
.post .post-content .highlight > .chroma .nx {
	color: #154465 !important;
}
.post .post-content .highlight > .chroma .c1 {
	color: #727f7f  !important;
}
